{% extends 'homepage.html' %}
{% load static %}

{% block extra_css %}
<!-- CSS specific to city weather page -->
<link rel="stylesheet" href="{% static 'cityweather.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-3 d-flex justify-content-center">
        <!--card-->
        <div class="card p-4 mx-4" style="border-radius: 35px;">
            <div class="topinfo">
                <div>
                    <h4>{{city.upper}}</h4>
                </div>
                <div>
                    <h6><i class="bi-clock"></i> {{actual_time}}</h6>
                </div>
            </div>
            <div class="d-flex flex-column text-center mt-5 mb-5">
                {% if weather_data %}
                <h6 class="display-4 mb-0 font-weight-bold"> {{ temperature}}°C </h6>
                <span class="small" style="color: #868B94">{{ weather_data.title}}</span>
                {% endif %}
            </div>
            <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1" style="font-size: 1rem;">
                    <div>
                        <i class="bi-thermometer-high" style="font-size:15px;"></i>
                        <span>Max Temp: {{ max_temp }}°C</span>
                    </div>
                    <div>
                        <i class="bi-thermometer-low" style="font-size:15px;"></i>
                        <span>Min Temp: {{ min_temp }}°C</span>
                    </div>
                    <div>
                        <i class="bi-droplet-half" style="font-size:15px;"></i>
                        <span>Humidity: {{ humidity }}%</span>
                    </div>
                    <div>
                        <i class="bi-sunrise" style="font-size:15px;"></i>
                        <span>Sunrise: {{sunrise_time}}</span>
                    </div>
                    <div>
                        <i class="bi-sunset" style="font-size:15px;"></i>
                        <span>Sunset: {{sunset_time}}</span>
                    </div>
                </div>
                <div>
                    {% if actual_time > sunrise_time and actual_time < sunset_time or sunrise_time == 'N/A' and sunset_time == 'N/A'%}
                        {% if weather_data in weather_condition_sunny %}
                            <img class="sunny" src="{% static 'images/sun.png'%}" >
                        {% elif weather_data in weather_condition_rainy %}
                            <img class="rainy" src="{% static 'images/rain.png'%}" >
                        {% elif weather_data in weather_condition_clouds %}
                            <img class="clouds" src="{% static 'images/clouds.png'%}" >
                        {% endif %}
                    {% elif actual_time > sunset_time and actual_time < sunrise_time %}
                        Night
                    {% endif %}
                </div>
            </div>
            <!--card end-->

            <!--line-->
            <div class="bg-dark w-100 mb-3" style="height: 1px;"></div>
            <!--line end-->

            <!--weather on next days-->
            <div class="nextdaysweather">

                <!--day1-->
                <div class="day1">
                    {% if weather_data_next_days%}
                    <div class="day1-top">
                        <h6 class="p-2">{{day1_date}}</h6>
                    </div>
                    <div class="day1-bottom">
                        <div class="column">
                            <p>00:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day1_time_00}}°C</p>
                        </div>
                        <div class="column">
                            <p>03:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day1_time_03}}°C</p>
                        </div>
                        <div class="column">
                            <p>06:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day1_time_06}}°C</p>
                        </div>
                        <div class="column">
                            <p>09:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day1_time_09}}°C</p>
                        </div>
                        <div class="column">
                            <p>12:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day1_time_12}}°C</p>
                        </div>
                        <div class="column">
                            <p>15:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day1_time_15}}°C</p>
                        </div>
                        <div class="column">
                            <p>18:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day1_time_18}}°C</p>
                        </div>
                        <div class="column">
                            <p>21:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day1_time_21}}°C</p>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!--line-->
                <div class="bg-dark w-100 mb-3" style="height: 1px;"></div>
                <!--line end-->

                <!--day2-->
                <div class="day2">
                    {% if weather_data_next_days%}
                    <div class="day2-top">
                        <h6 class="p-2">{{day2_date}}</h6>
                    </div>
                    <div class="day2-bottom">
                        <div class="column">
                            <p>00:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day2_time_00}}°C</p>
                        </div>
                        <div class="column">
                            <p>03:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day2_time_03}}°C</p>
                        </div>
                        <div class="column">
                            <p>06:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day2_time_06}}°C</p>
                        </div>
                        <div class="column">
                            <p>09:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day2_time_09}}°C</p>
                        </div>
                        <div class="column">
                            <p>12:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day2_time_12}}°C</p>
                        </div>
                        <div class="column">
                            <p>15:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day2_time_15}}°C</p>
                        </div>
                        <div class="column">
                            <p>18:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day2_time_18}}°C</p>
                        </div>
                        <div class="column">
                            <p>21:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day2_time_21}}°C</p>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!--line-->
                <div class="bg-dark w-100 mb-3" style="height: 1px;"></div>
                <!--line end-->

                <!--day3-->
                <div class="day3">
                    {% if weather_data_next_days%}
                    <div class="day3-top">
                        <h6 class="p-2">{{day3_date}}</h6>
                    </div>
                    <div class="day3-bottom">
                        <div class="column">
                            <p>00:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day3_time_00}}°C</p>
                        </div>
                        <div class="column">
                            <p>03:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day3_time_03}}°C</p>
                        </div>
                        <div class="column">
                            <p>06:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day3_time_06}}°C</p>
                        </div>
                        <div class="column">
                            <p>09:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day3_time_09}}°C</p>
                        </div>
                        <div class="column">
                            <p>12:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day3_time_12}}°C</p>
                        </div>
                        <div class="column">
                            <p>15:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day3_time_15}}°C</p>
                        </div>
                        <div class="column">
                            <p>18:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day3_time_18}}°C</p>
                        </div>
                        <div class="column">
                            <p>21:00</p>
                            <img src="{% static 'images/clouds.png'%}" style="height:40px;">
                            <p>{{day3_time_21}}°C</p>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!--line-->
                <div class="bg-dark w-100 mb-3" style="height: 1px;"></div>
                <!--line end-->
            </div>
            <!--weather on 7 days end-->
        </div>
    </div>
</div>
{% endblock %}