{% extends 'homepage.html' %}
{% load static %}

{% block extra_css %}
<!-- CSS specific to city weather page -->
<link rel="stylesheet" href="{% static 'cityweather.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-3 d-flex justify-content-center">
        <!--card-->
        <div class="card p-4 mx-4" style="border-radius: 35px;">
            <div class="topinfo">
                <div>
                    <h4>{{city.upper}}</h4>
                </div>
                <div>
                    <h6><i class="bi-clock"></i> {{actual_time}}</h6>
                </div>
            </div>
            <div class="d-flex flex-column text-center mt-5 mb-5">
                {% if weather_data %}
                <h6 class="display-4 mb-0 font-weight-bold"> {{ temperature}}°C </h6>
                <span class="small" style="color: #868B94">{{ weather_data.title}}</span>
                {% endif %}
            </div>
            <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1" style="font-size: 1rem;">
                    <div>
                        <i class="bi-thermometer-high" style="font-size:15px;"></i>
                        <span>Max Temp: {{ max_temp }}°C</span>
                    </div>
                    <div>
                        <i class="bi-thermometer-low" style="font-size:15px;"></i>
                        <span>Min Temp: {{ min_temp }}°C</span>
                    </div>
                    <div>
                        <i class="bi-droplet-half" style="font-size:15px;"></i>
                        <span>Humidity: {{ humidity }}%</span>
                    </div>
                    <div>
                        <i class="bi-sunrise" style="font-size:15px;"></i>
                        <span>Sunrise: {{sunrise_time}}</span>
                    </div>
                    <div>
                        <i class="bi-sunset" style="font-size:15px;"></i>
                        <span>Sunset: {{sunset_time}}</span>
                    </div>
                </div>
                <div>
                    
                    {% if actual_time > sunrise_time and actual_time < sunset_time or sunrise_time == 'N/A' and sunset_time == 'N/A'%}
                        {% if weather_data in weather_condition_sunny %}
                            <img src="{% static 'images/sun.png'%}" style="height:70px;">
                        {% elif weather_data in weather_condtion_light_rain %}
                            <img src="{% static 'images/light_rain.png' %}" style="height:70px;">
                        {% elif weather_data in weather_condition_rainy %}
                            <img src="{% static 'images/rain.png'%}" style="height:70px;">
                        {% elif weather_data in weather_condition_clouds %}
                            <img src="{% static 'images/clouds.png'%}" style="height:70px;">
                        {% elif weather_data in weather_condition_few_clouds %}
                            <img src="{% static 'images/day_sun_clouds.png'%}" style="height:70px;">
                        {% endif %}
                    {% elif actual_time > sunset_time or actual_time < sunrise_time or sunrise_time == 'N/A' and sunset_time == 'N/A' %}
                        {% if weather_data in weather_condition_night %}
                            <img src="{% static 'images/moon.png'%}" style="height:70px;">
                        {% elif weather_data in weather_condtion_light_rain %}
                            <img src="{% static 'images/light_rain.png' %}" style="height:70px;">
                        {% elif weather_data in weather_condition_rainy %}
                            <img src="{% static 'images/rain.png'%}" style="height:70px;">
                        {% elif weather_data in weather_condition_clouds %}
                            <img src="{% static 'images/night_clouds.png'%}" style="height:70px;">
                        {% elif weather_data in weather_condition_few_clouds %}
                            <img src="{% static 'images/night_few_clouds.png'%}" style="height:70px;">
                        {% endif %}
                    {% endif %}

                </div>
            </div>
            <!--card end-->

            <!--line-->
            <div class="bg-dark w-100 mb-3" style="height: 1px;"></div>
            <!--line end-->

            <!--weather on next days-->
            {% block nextdaysweather %}
            {% endblock %}
            
            <!--weather on 7 days end-->
        </div>
    </div>
</div>
{% endblock %}