.nextdaysweather {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.topinfo {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.topinfo>h4, .topinfo>h6, .p-2 {
    color:chocolate;
}

